@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

body {
    padding: .7rem;
}

:root {
    --font: "Montserrat", sans-serif;

    --color-grey-1: #f0f0f0;
    --color-grey-2: #888888;
}

h1 {
    margin: 2rem 0;
    font-size: calc(1rem + 2vw);
}

/* Styles for section product */
#products {
    max-width: 400px;
    padding: 1.9rem;
    background: var(--color-grey-1);
    border-radius: 17px;
}
.products__product {
    max-width: 90%;
    height: 130px;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products__product img {
    max-width: 100%;
    width: 44%;
    border-radius: 17px;
}
.product__data {
    height: 100%;
    margin-left: 1.4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__data-price h3 {
    font-size: .9rem;
    margin-bottom: .6rem;
}
.product__data-price h4,
.product__data-price h5 {
    display: inline;
    margin-right: .6rem;
}
.product__data-price h4 {
    font-size: .9rem;
    color: #F2994A;
}
.product__data-price h5 {
    font-size: .8rem;
    text-decoration: line-through;
}
.product__data-quantity {
    min-width: 140px;
    padding: .8rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid #bbbbbb;
    border-radius: 15px;
}
.product__data-quantity button {
    padding: 0 .6rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background: #dddddd;
}
.product__data-quantity span {
    font-size: 1.2rem;
}

.products__bill {
    margin-top: 7rem;
} 
.bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
    font-size: .7rem;
    border-top: 1px solid #bbbbbb;
}
.bill h3 {
    font-size: 1rem;
}

/* Styles for section form */
#form h2 {
    margin-top: 3.5rem;
    padding: .7rem 0;
    font-size: 1.2rem;
}
.form__contact label {
    font-size: .8rem;
}
.form__contact .input {
    margin: .4rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__contact .input input {
    padding: .9rem;
    flex-grow: 1;
    border: none;
    outline: none;
    border: 1px solid var(--color-grey-2);
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.form__contact .input span {
    font-size: 1.2rem;
    padding: .8rem 0 .8rem .65rem;
    color: var(--color-grey-2);
    border: 1px solid var(--color-grey-2);
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.form__contact .input-inline__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-inline {
    width: 40%;
}
.form__contact .input-inline .input {
    width: 100%;
    display: flex;
    position: relative;
}

.input-inline {
    margin-top: 2.4rem;
    width: 100%;
    display: flex;
    gap: 1rem;
}
.input-inline__item {
    width: 50%;
    display: inline-flex;
    position: relative;
}
.input-inline__item span {
    font-size: 1.2rem;
    padding: .8rem 0 .8rem .65rem;
    color: var(--color-grey-2);
    border: 1px solid var(--color-grey-2);
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.input-inline__item select, 
.input-inline__item input {
    width: 80%;
    padding: .9rem;
    border: none;
    outline: none;
    border: 1px solid var(--color-grey-2);
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.input-inline__item label {
    position: absolute;
    top: -1.3rem;
}

.form__contact #check {
    transform: scale(1.5);
    margin-right: .8rem;
}
.input-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#form button {
    margin-top: 2rem;
    float: right;
    padding: 1.1rem 3rem;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    background: #F2994A;
    cursor: pointer;
}
#form button:hover {
    background: #e18839;
}

/* Styles for section footer */
.footer {
    margin: 11rem 0 1rem 0;
    text-align: center;
    font: normal 400 0.8rem var(--font);
    color: var(--color-grey-2);
}
.username a {
    font-weight: 700;
    color: var(--color-grey-2);
}

/* Media Queries */
@media screen and (min-width:768px) {
    body {
        margin: 0 calc(1rem + 11.2vw);
    }
    .content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
    }
    #products {
        margin-top: 2rem;
        order: 10;
    }
    #form {
        width: 470px;
    }
    #form h2 {
        margin-top: 0;
    }
}